.ui-pnotify.stack-bar-top {
    right: 0;
    top: 0;
}

a:disabled{
    cursor: not-allowed;
}

.col-condensed {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.ben-acordion-green{
    color:#5D8500
}
.ben-acordion-gray{
    color: #999999
}
.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}


.page-header{
    margin-top: 3px !important;
} 

html, body {
    height: 100%;
    margin: 0;
    display: block;
}
/*//para login sistem*/
.profile-img{width:96px;height:96px;display:block;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;margin:0 auto 10px;}

.c-loading {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
}
.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px
}

.footer {
    position: relative;
    clear:both;
    height: 70px
}

/*Se aplica solo con resolucion mayor a 1000*/
@media screen and (max-width: 1100px) {
    .nav-condensed > li > a{
        padding-left : 6px;
        padding-right : 6px; 
    }   
}
/*.footer {
  position: relative;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 50px;
  background-color: #f5f5f5;
}
.footer > .container {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}*/

.st-selected {
    background: #216eff !important;
    color: white !important;
}

.st-no-selected {
    background: red !important;
    color: white !important;
}

.st-sort-ascent:after{
    float: right !important;
    content: '\25B2';
    color: darkblue;
}

.st-sort-descent:after{
    float: right !important;
    content: '\25BC';
    color: darkblue;
}

.pointer{cursor: pointer}

.dark{color:#333!important}
.white{color:#fff!important}
.red{color:#dd5a43!important}
.light-red{color:#f77!important}
.blue{color:#478fca!important}
.light-blue{color:#93cbf9!important}
.green{color:#69aa46!important}
.dark-green{color:#004700!important}
.light-green{color:#b0d877!important}
.orange{color:#ff892a!important}
.light-orange{color:#fcac6f!important}
.orange2{color:#feb902!important}
.purple{color:#a069c3!important}
.pink{color:#c6699f!important}
.pink2{color:#d6487e!important}
.brown{color:#a52a2a!important}
.grey{color:#777!important}
.light-grey{color:#bbb!important}
.yellow{color:#ffff00!important}

.bigger-110{font-size:110%}
.bigger-120{font-size:120%}
.bigger-130{font-size:130%}
.bigger-140{font-size:140%}
.bigger-150{font-size:150%}
.bigger-160{font-size:160%}
.bigger-170{font-size:170%}
.bigger-180{font-size:180%}
.bigger-190{font-size:190%}
.bigger-200{font-size:200%}
.bigger-210{font-size:210%}
.bigger-220{font-size:220%}
.bigger-230{font-size:230%}
.bigger-240{font-size:240%}
.bigger-250{font-size:250%}
.bigger-260{font-size:260%}
.bigger-270{font-size:270%}
.bigger-280{font-size:280%}
.bigger-290{font-size:290%}
.bigger-300{font-size:300%}
.bigger-125{font-size:125%}
.bigger-175{font-size:175%}
.bigger-225{font-size:225%}
.bigger-275{font-size:275%}

.smaller-90{font-size:90%}
.smaller-80{font-size:80%}
.smaller-70{font-size:70%}
.smaller-60{font-size:60%}
.smaller-50{font-size:50%}
.smaller-40{font-size:40%}
.smaller-30{font-size:30%}
.smaller-20{font-size:20%}
.smaller-75{font-size:75%}

.width-20{width:20%!important}
.width-25{width:25%!important}
.width-30{width:30%!important}
.width-35{width:35%!important}
.width-40{width:40%!important}
.width-45{width:45%!important}
.width-50{width:50%!important}
.width-55{width:55%!important}
.width-60{width:60%!important}
.width-65{width:65%!important}
.width-70{width:70%!important}
.width-75{width:75%!important}
.width-80{width:80%!important}
.width-85{width:85%!important}
.width-90{width:90%!important}
.width-95{width:95%!important}
.width-100{width:100%!important}
.width-48{width:48%!important}


/* 
    Component: callout
------------------------
*/
.callout {
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.callout h4 {
    margin-top: 0;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout code,
.callout .highlight {
    background-color: #fff;
}
.callout.callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.callout.callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.callout.callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
/*Add by CICHA*/
.callout.callout-default {
    background-color: #eeeeee ;
    border-color: #999999;
}
.callout.callout-success { 
    background-color: #dff0d8 ;
    border-color: #c8e5bc;
}
.callout.callout-danger h4 {
    color: #B94A48;
}
.callout.callout-warning h4 {
    color: #C09853;
}
.callout.callout-info h4 {
    color: #3A87AD;
}

.font-weight{
    font-weight: 600;
} 

/*Icono que simula un loading: Ejemplo uso <i class="glyphicon glyphicon-refresh spinning"></i>*/
.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

.fa.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


.btn-facebook,
.btn-facebook:focus,
.btn-facebook:hover
{
    background-color: #3B5998;
    color: #FFF;
}
.btn-gplus,
.btn-gplus:focus,
.btn-gplus:hover
{
    background-color: #DB4437;
    color: #FFF;
}

/*Color del tab active*/

.uib-tab.nav-item.active>a,
.uib-tab.nav-item.active>a:focus,
.uib-tab.nav-item.active>a:hover
{
    background-color: #5D8500;
}

a {
    cursor: pointer;
}

.video-center-50{
    text-align: center;
}
.video-center-50 video {
    max-width: 50%; 
    height: auto;
}

.video-center-65{
    text-align: center;
}
.video-center-65 video, .video-center-65 i {
    max-width: 65%; 
    height: auto;
}


.box.box-primary{border-top-color:#FFF}

/**
*Para la vista de temas
*/

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.box-tema{
    margin-bottom: 3px !important;
    cursor: pointer;

}

.box-tema:hover{
    background-color: #EEEEEE;
}

.back-unidad{
    color: #EEEEEE !important;
    cursor: pointer;
    text-decoration: none  !important;
}
.back-unidad:hover{
    color: #FFF !important;
}

.back-tema{
    color: #0073B7 !important;
    cursor: pointer;
    text-decoration: none  !important;
}

.vertical-padding{
    min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
}

.timeline>li{
    margin-bottom: 5px;
}

.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
    padding: 5px;
}

.actividad-hover-color:hover,
.actividad-hover-color:focus{
    background-color: #0073B7 !important;
    color: #FFF !important;
    cursor: pointer;
}

.bg-image {
    position: relative;
    cursor: pointer;
    height: 125px;

}
.bg-image img {
    display: block;
    width: 100%;
    max-width: 1200px; /* corresponds to max height of 450px */
    margin: 0 auto;
    height: 125px;

}
.bg-image h1 {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: inherit;
    padding-left: 10px;
}

.tema-descripcion {
    padding: 5px; font-weight: bold;
}

.carousel-inner.item,
.carousel-inner .item img{
    width: 100%;
}


.btn-app{
    width: 150px;
    width: 200px;
}


.layout-top-nav .wrapper{
    background-color: white; 
}

.layout-top-nav .rol-hidden{
    display: none;
}

layout-top-nav .rol-show{
    display: block;
}

.hold-transition .rol-show, .sidebar-collapse .rol-show{
    display: none;
}

html, body {
    height: auto !important;
    min-height: 100%;
}

section{
    height: 100%;
}

/*Setear el color del loading bar y el ancho*/
#loading-bar .bar {
    background: #222D32;
    height: 3px;
}

.conetnido-selected {
    border: solid 4px green;
}

.content-header{
    padding-top: 0px;
    padding-bottom: 10px;
}

.content-header > .h3{
	font-size: 20px;
    margin-top:  0px;
	
}

.content-header small {
	font-size: inherit;
    margin-top:  0px;
	
}


li {
    list-style-type: none;
}

.parpadeo-online{
    background-color: #419641;
    animation: parpadeoOnLine 1.5s;
    -webkit-animation: parpadeoOnLine 1.5s;
    -moz-animation: parpadeoOnLine 1.5s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
}


@keyframes parpadeoOnLine { 
    0% {background-color: #419641}
    25% {background-color: #419641}
    75% {background-color: white}
    100%{background-color: #419641} 
}

@-webkit-keyframes parpadeoOnLine { 
    0% {background-color: #419641}
    25% {background-color: #419641}
    75% {background-color: white}
    100%{background-color: #419641} 
}

.parpadeo-offline{
    background-color: #d73925;
    animation: parpadeoOffLine 1.5s;
    -webkit-animation: parpadeoOffLine 1.5s;
    -moz-animation: parpadeoOffLine 1.5s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
}


@keyframes parpadeoOffLine { 
    0% {background-color: #d73925}
    25% {background-color: #d73925}
    75% {background-color: white}
    100%{background-color: #d73925} 
}

@-webkit-keyframes parpadeoOffLine { 
    0% {background-color: #d73925}
    25% {background-color: #d73925}
    75% {background-color: white}
    100%{background-color: #d73925} 
}

.submited input.ng-invalid{
    background-color: #FA787E;
}
.submited select.ng-invalid{
    background-color: #FA787E;
}

.float-btn-stack-noti {
    position: fixed;
    top: 0;
    right: 8%;
    z-index: 99;
    border: none;
    /*outline: none;*/
    cursor: pointer;
    z-index: 999999 !important;
}

.foto-perfil:hover{
    background: none;
}

.change-profile-img{
    display: none;
}

.hover-change-profile-img:hover .change-profile-img{
    display: block;
}