<div>
    <ui-select  ng-model="selectedItem"  theme="bootstrap"  ng-disabled="config.disabled" on-select="onSelect($item, $model)">
        <ui-select-match  allow-clear="{{config.allowClear}}"  placeholder="-- Seleccionar {{config.textName}} -- ">
            <span>
                <ng-bind-html
                    ng-bind-html="parserSelect($select.selected)"> 
                </ng-bind-html> 
                &nbsp;&nbsp;&nbsp;
                <small ng-if="$select.selected.deletedAt">
                    <i  class="fa fa-warning orange"></i>
                    Eliminado
                </small>
            </span>
        </ui-select-match>
        <ui-select-choices 
            refresh="fetch($select)" 
            refresh-delay="200"
            repeat="item as item in items"
            ui-disable-choice="isDisableChoice(item)"
            >
            <ng-bind-html
                ng-bind-html="parserChoice(item)"> 
            </ng-bind-html>  
            <small ng-if="item.deletedAt">
                <i class="fa fa-warning orange"></i>
                {{config.textName}} eliminado el {{item.deletedAt| date:"dd/MM/yyyy"}}
            </small>
            <div ng-if="$index == $select.items.length - 1">
                <button 
                    ng-if="!useNgMouseover  && itemsHashNext" 
                    class="btn btn-xs btn-success" 
                    style="width: 100%; margin-top: 5px;" 
                    ng-click="fetch($select, $event);"
                    ng-disabled="loading">Cargar m&aacute;s resultados...</button>                 
                <button 
                    ng-if="useNgMouseover && itemsHashNext" 
                    class="btn btn-xs btn-danger" 
                    style="width: 100%; margin-top: 5px;" 
                    ng-mouseover="fetch($select, $event);"
                    ng-disabled="loading">Mouse over load more...</button>                 
            </div>
        </ui-select-choices>
        <ui-select-no-choice>
            No se encontró el {{config.textName}}
        </ui-select-no-choice>
    </ui-select>
</div>  