<div class="col-xs-12 no-padding" >
           
    <div class="col-xs-6 col-md-4" ng-if="persona.userName">
        <strong><i class="fa   fa-user margin-r-5"></i> Usuario</strong>
        <p class="text-muted"> {{ persona.userName}}</p>
        <br class="margin">
    </div>
    <div class="col-xs-6 col-md-4" ng-if="persona.documento">
        <strong><i class="fa fa-list"></i> Documento</strong>
        <p class="text-muted">{{persona.tipoDoc}}: {{persona.documento}}</p>
        <br class="margin">
    </div>
     <div class="col-xs-6 col-md-4" ng-if="persona.userCuit">
        <strong><i class="fa fa-list"></i> Cuit</strong>
        <p class="text-muted">{{persona.userCuit}}</p>
        <br class="margin">
    </div>
    <div class="col-xs-12 col-md-4">
        <strong><i class="fa   fa-user margin-r-5"></i> Nombre</strong>
        <p class="text-muted"> {{persona.nombres}}&nbsp&nbsp{{ persona.apellido}}</p>
        <br class="margin">
    </div>

    
    <div  class="col-xs-6 col-md-4" ng-if="persona.fechaNac">
        <strong><i class="fa fa-calendar"></i>   
            Nacimiento</strong>
        <p  class="text-muted">{{persona.fechaNac| date:"dd/MM/yyyy"}}</p>
        <br class="margin">
    </div>

    <div class="col-xs-6 col-md-4" ng-if="persona.sexo">
        <strong><i class="fa fa fa-intersex"></i> Sexo</strong>
        <p ng-if='persona.sexo == "M"'class="text-muted">Masculino</p>
        <p ng-if='persona.sexo == "F"'class="text-muted">Femenino</p>
        <br class="margin">

    </div>
    <div class="col-xs-6 col-md-4" ng-if="persona.estadoCivil">
        <strong><i class="fa fa-venus-mars"></i> Estado civil</strong>
        <p class="text-muted">{{persona.estadoCivil}}</p>
        <br class="margin">
    </div>
</div>